<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display clubs</title>
</head>
<body>

<h1>Clubs:</h1>
    <ul>
        {% if other_clubs %}

            {% for other in other_clubs%}
            <li>
                name : {{other['name']}}<br />
                points : {{other['points']}}<br />
            </li>
            <hr />
            {% endfor %}
        {% else %}
            <p>no other clubs</p>
        {% endif %}
    </ul>

</body>
</html>